In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("../DATA/CONCAT/luft_vi_2023_2024.csv")

In [20]:
df.columns

Index(['vehicle', 'gdate', 'gtime', 'glatitude', 'glongitude', 'galtitude',
       'vsp', 'rws', 'rwd', 'tws', 'twd', 'ta1', 'rh1', 'pressure',
       'precipitation', 'raindetector', 'solarradiation', 'sw_down', 'sw_up',
       'lw_down', 'lw_up', 'netradiation', 's_ta', 's_status', 'grip',
       'waterlayer', 'icelayer', 'snowlayer', 's_status_txt', 'TIMESTAMP',
       'YYMMDD', 'HHMMSS', 'R_Tem', 'R_Dew', 'R_Hum', 'R_WH', 'R_Sta', 'R_Ice',
       'R_Fric', 'R_Sta_txt', 'BattV', 'PTemp'],
      dtype='object')

In [24]:
# Create a pivot table
df['s_status'] = df['s_status'].astype(str)
pivot_table = df.pivot_table(index='R_Sta_txt',values='R_Sta', columns='s_status',  aggfunc='count', fill_value=0)#,values='R_Sta',

In [25]:
pivot_table

s_status,1.0,101.0,102.0,103.0,106.0,107.0,2.0,201.0,202.0,203.0,206.0,207.0,3.0,6.0,7.0,9.0,nan
R_Sta_txt,,,,,,,,,,,,,,,,,
Chemically wet,75770,185,93,54,243,46,52732,98,9,0,1128,18,16464,286,41,174,23888
Critically wet,17,0,0,73,37,21,25,0,0,0,32,9,1713,45,13,176,75
Damp,146872,353,75,4,258,0,54319,156,27,3,1595,9,2454,516,9,6,45179
Dry,256261,510,23,11,353,0,25076,132,38,11,1597,1,1571,736,0,0,47696
Ice,87,0,0,11,615,71,50,0,0,0,311,26,1384,997,35,726,166
Snow / Ice,8,0,0,0,139,4,2,0,0,0,174,1,44,113,2,70,21
Wet,24893,60,74,110,182,54,44071,11,26,11,525,91,84597,204,31,33,23917